:root{
    --color-primary: rgb(3, 3, 50);
    --color-secondary: #;
    --color-accent: #;
    --color-dark: black;
    --color-body: rgb(235, 218, 196);
    --color-border-blue: rgb(4, 4, 115);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}


html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-size: 2.4rem;
    line-height: 1.5;
    margin: 0;
    background-color: white;
}

img{
    width: 100%;
}

a:visited{
    color: var(--color-primary-600);
}

a{
    text-decoration: none;
}

/* Typography */

h1 {
    font-size: 6rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3rem;
    font-weight: 600;
}

h4 {
    font-size: 2.2rem;
}

p {
    margin-top: 0;
}

@media screen and (min-width: 1024px) {
    body {
        font-size: 1.8rem;
    }

    h1 {
        font-size: 8rem;
    }

    h2 {
        font-size: 4rem;
    }

    h3 {
        font-size: 3.5rem;
    }

    h4 {
        font-size: 2rem;
    }
}



/* Button */

.btn {
    font-size: 1.8rem;
    margin: 5rem 0;
    padding: 1rem 2.2rem;
    border: 0;
    outline: 0;
    border-radius: 10px;
    font-weight: 500;
    white-space: nowrap;
    cursor: pointer;
    text-align: center;
    margin: 2rem 0;
    color: var(--color-dark);
}

.btn--primary {
    background-color: var(--color-primary-600);
    color: white;
}


.btn--primary:hover {
    box-shadow: 0px 8px 20px 1.5px var(--color-primary-400);
}

.btn--block {
    display: inline-block;
    width: 100%;
}

.btn--outline {
    border: 4px solid var(--color-border-blue);
    background-color: #fff;
    font-weight: 600;
    background-color: rgb(211, 211, 211);

}

.btn--cv {
    transition: transform 0.15s;
}

.btn--cv:hover {
    transform: translateY(-5px);
}

.hero .btn:hover {
    text-align: center;
    padding-bottom: .70rem;
}

.btn .icon {
    display: none;
    transition: all 0.15s;
}

.btn:hover .icon {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    margin-left: 1rem;
    margin-bottom: 0.65rem;
    vertical-align: middle;
}

/* Cards */

.main__card--block{
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */
    align-items: flex-start;
    margin-left: 5rem;
    
}

.card{
    width: 30rem;
    height: 45rem;
    background-color: rgb(211, 211, 211);
    /* padding: 20px;   */
    /* margin: o 45rem;    */
    border-radius: 50px 0 50px 0;
    box-shadow: 0 0 10px 10px grey;   
}

.card__image{
    margin-bottom: 20px;
    width: 100%;
    /* margin-top: -18px; */
}

.card__heading{
    color: white;
    margin: 30px 0 15px 0;
    font-size: 2rem;
    font-family: 'Clash Display', Arial, Helvetica, sans-serif;
}

.card__body, .card__paragraph{
    text-align: left;
}

.paragraph{
    letter-spacing: 0.5px;
    margin-top: 0;
    line-height: 1.5;
    font-weight: 100;
    font-size: 1.5rem;   
}

.card__body--heading{
    font-size: 2rem;
    text-align: center;
    margin: 0rem 0 1rem 0;
}

.card__body--heading2{
    font-size: 2rem;
    text-align: center;
    padding: 0 0;
    margin: 0rem 0 4rem 0;
}

.card__body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card__body--button{
    margin-top: -2rem;
}

.main__card{
    display: flex;
    justify-content: center;
    align-items: center;
}


@media screen and (min-width: 1024px) {
    .main__card--block{
        flex-direction: row;
        margin: 5rem 0;
        padding: 5rem 0;
    }

    .card__body--heading{
        font-size: 3rem;
        text-align: center;
        margin: 2rem 0 4rem 0;
    }
    .card__body--heading2{
        font-size: 2rem;
        text-align: center;
        padding: 0 0;
        margin: -3rem 0 4rem 0;
    }
}

@media screen and (min-width: 768px) {
    .main--block{
        padding: 0 0 10rem 0;
    }
}

.main--block{
    margin: 0 0 5rem 0;
}


/* Grids */

/* Grids */

.grid {
    display: grid;
}

@media screen and (min-width: 768px) {
    .grid--1x2 {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 1024px) {
    .grid--1x3 {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* 
.card__grid{
    justify-content: center;
    display: grid;
    align-items: center;
    justify-items: center;
    align-content: center;
} */

/* Collapsibles */

.collapsible__header {
    display: flex;
    justify-content: space-between;
}

.collapsible__heading {
    margin-top: 0;
    font-size: 3rem;
}

.collapsible__chevron {
    transform: rotate(-90deg);
    transition: transform 0.3s;
}

.collapsible__content {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 0.3s;
}

.collapsible--expanded .collapsible__chevron {
    transform: rotate(0);
}

.collapsible--expanded .collapsible__content {
    max-height: 100%;
    opacity: 1;
}


/* Navbar */

.nav {
    background: #fff;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 1rem 0 1rem;
    align-items: center;
}

.nav__list {
    width: 100%;
    margin: 1rem 2rem 0 0;

}

.nav--logo{
    margin-right: 1rem;
}


.nav__item {
    padding: 0.5rem 2rem;
    border-bottom: 1px solid var(--color-primary); 
    list-style-type: none;   
}

.nav__item:last-of-type {
    border-bottom: none;
}

.nav__item>a {
    color: var(--color-primary);
    font-size: 2.2rem;
    transition: color 0.3s;
}

.nav__item>a:hover {
    color: var(--color-primary);
    text-shadow: 0 0 1px var(--color-primary);
}

.nav__toggler {
    opacity: 0.5;
    transition: box-shadow 0.15s;
    cursor: pointer;
    height: 6rem;
    width: 6rem;
    margin-right: 1rem;
}

.nav.collapsible--expanded .nav__toggler {
    opacity: 1;
    box-shadow: 0 0 3px 3px var(--color-primary);
    border-radius: 5px;
    outline: 0;
    border: 0;
}

.nav__brand {
    transform: translateY(5px);
    width: 200px; 
}


@media screen and (min-width: 1500px) {

    .nav{
        flex-wrap: nowrap;
    }
    .nav__toggler {
        display: none;
    }

    .nav__link{
        margin-top: 25rem;
        font-size: 1rem;
    }

    .nav__list {
        width: auto;
        display: flex;
        /* padding-left: 0; */
        font-size: 1.2rem;
        max-height: 100%;
        opacity: 1;
        margin-right: 5rem;
        
    }

    .nav__item {
        border: 0;
        justify-content: center;
        align-items: center;
    }

    .nav__item > a{
        font-size: 1.5rem;
        white-space: nowrap;
    }

    .nav--btn{
        font-size: 1.5rem;
        margin: 0;
    }
}


.container {
    max-width: 1140px;
    margin: 0 auto;
}


/* Block */

.main__heading{
    text-align: center;
}

@media screen and (min-width: 1024px) {
    .main__heading{
        font-size: 4rem;
    } 
}

/* Image block */

@media screen and (min-width: 768px) {
    .image--block{
        position: relative;
         width: 38rem;
    }


    .pic__container{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }


    .img-01
   {
        position: absolute;
        top: 18rem;
        left: 28rem;
        z-index: 2;
    }

    .img-03
    {
         position: absolute;
         top: 18rem;
         right: 28rem;
         z-index: 2;
     }
    
}

img{
    padding: 1rem 2rem;
}


/* Block heading */

@media screen and (min-width: 1024px) {
   .presentation {
    border-radius: 20px;
   }

}

/* Gallery */

.gallery__heading{
    text-align: center;
}

/* News */

@media screen and (min-width: 768px) {
    
    
    .news__card{
        border-radius: 10px;
        box-shadow: 0 0 10px rgb(192, 191, 191);
        background-color: white;
    }
    
    .news-card__image{
        width: 20rem;
        height: 20rem;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 2rem 5rem;
    }
    
    .news-card__body--heading{
        text-align: center;
        margin-bottom: 2rem;
        margin: 0 0 5rem 0;
        padding-bottom: 3rem;
        font-size: 2.5rem;
    }
    
    .news__container{
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        flex-wrap: wrap;
    }
    
    .big__container{
        background-color: rgb(189, 189, 189);
        border-radius: 10px;
        padding: 1rem 0.5rem;
    }
  }
  
  .news__container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* flex-direction: column; */
}

.news__btn{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 769px) {
    .news__container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        /* flex-direction: column; */
    }

}

.news-card__body--heading{
    text-align: center;
    margin-bottom: 2rem;
    margin: 0 0 5rem 0;
    padding-bottom: 3rem;
    font-size: 1.5rem;
}


.elzian{
    color: green;
    font-weight: 600;
}

.footer__logo{
    width: 20rem;
    height: 20rem;
}