
<div class="big__container container">
    

    <div class="news__container">
        <div style="width: 20%; padding: 2rem;">
            <div class="white-news__card">
                <header class="news-card__header">
                    <h3>News and Publication</h3>
                    <p>The news about recent activities from ....</p>
                </header>
                <div class="news-card__body">
                    <button class="nwes__btn btn btn--outline">See More</button>
                </div>           
            </div>    
        </div>
    
        <div style="width: 20%; padding: 2rem;">
            <div class="news__card">
                <header class="news-card__header">
                    <img src="./Images/news.png" alt="" class="news-card__image">
                </header>
                <div class="news-card__body">
                    <h3 class="news-card__body--heading">Continue Reading</h3>             
                </div>           
            </div>    
        </div>
    
    
        <div style="width: 20%; padding: 2rem;">
            <div class="news__card">
                <header class="news-card__header">
                    <img src="./Images/news.png" alt="" class="news-card__image">
                </header>
                <div class="news-card__body">
                    <h3 class="news-card__body--heading">Continue Reading</h3>             
                </div>           
            </div>
        </div>
    
        <div style="width: 20%; padding: 2rem;">
            <div class="news__card">
                <header class="news-card__header">
                    <img src="./Images/news.png" alt="" class="news-card__image">
                </header>
                <div class="news-card__body">
                    <h3 class="news-card__body--heading">Continue Reading</h3>             
                </div>           
            </div>
        </div>
    
        </div>
    </div>
    